# Estrutura de Dados


## Vetores

Vetor (vector) é a estrutura de dados básica em R. Ele contém elementos de um mesmo tipo. O tipo dos dados pode ser lógico (booleano), inteiro, douvle, character, complex ou raw.

Em R um vetor é criada utilizando a função ```c()```.

In [1]:
x = c(1,2,5,0,10)
x

[1]  1  2  5  0 10

In [2]:
typeof(x)

[1] "double"

In [3]:
length(x) # len

[1] 5

In [5]:
x = c(1, 5.4, TRUE, "hello")
x

[1] "1"     "5.4"   "TRUE"  "hello"

In [18]:
# string > float > int > bool 
x = c(TRUE, TRUE, FALSE, 1L)

In [19]:
typeof(x)

[1] "integer"

para criar um vetor de numeros consecutivo, o operador ```:``` é muito útil.

In [20]:
x = 1:4
x

[1] 1 2 3 4

In [21]:
2:-5

[1]  2  1  0 -1 -2 -3 -4 -5

sequências mais complexas pode ser criada utilizando a função ```seq```.

In [24]:
?seq

In [27]:
seq(1, 3, by=0.5) # 1:3
1:3

[1] 1.0 1.5 2.0 2.5 3.0

[1] 1 2 3

In [29]:
seq(1, 3, length.out=100) # linspace

  [1] 1.000000 1.020202 1.040404 1.060606 1.080808 1.101010 1.121212 1.141414
  [9] 1.161616 1.181818 1.202020 1.222222 1.242424 1.262626 1.282828 1.303030
 [17] 1.323232 1.343434 1.363636 1.383838 1.404040 1.424242 1.444444 1.464646
 [25] 1.484848 1.505051 1.525253 1.545455 1.565657 1.585859 1.606061 1.626263
 [33] 1.646465 1.666667 1.686869 1.707071 1.727273 1.747475 1.767677 1.787879
 [41] 1.808081 1.828283 1.848485 1.868687 1.888889 1.909091 1.929293 1.949495
 [49] 1.969697 1.989899 2.010101 2.030303 2.050505 2.070707 2.090909 2.111111
 [57] 2.131313 2.151515 2.171717 2.191919 2.212121 2.232323 2.252525 2.272727
 [65] 2.292929 2.313131 2.333333 2.353535 2.373737 2.393939 2.414141 2.434343
 [73] 2.454545 2.474747 2.494949 2.515152 2.535354 2.555556 2.575758 2.595960
 [81] 2.616162 2.636364 2.656566 2.676768 2.696970 2.717172 2.737374 2.757576
 [89] 2.777778 2.797980 2.818182 2.838384 2.858586 2.878788 2.898990 2.919192
 [97] 2.939394 2.959596 2.979798 3.000000

## Indexação

In [31]:
x

[1] 1 2 3 4

In [34]:
x[]

[1] NA

In [35]:
x[1:3]

[1] 1 2 3

In [36]:
x[c(1, 4)]

[1] 1 4

In [38]:
x[-1:-3]

[1] 4

### Usando vetor lógico (booleano) com indice

In [39]:
x[c(TRUE, FALSE, FALSE, TRUE)]

[1] 1 4

In [42]:
x <= 2

[1]  TRUE  TRUE FALSE FALSE

In [43]:
x[x <= 2]

[1] 1 2

In [44]:
x[x > 2]

[1] 3 4

### Usando caracteres como indice

In [45]:
x = c("primeiro"=3, "segundo"=0, "terceiro"=9)
names(x)

[1] "primeiro" "segundo"  "terceiro"

In [46]:
x["segundo"]

segundo
      0

In [47]:
x[c("primeiro", "terceiro")]

primeiro terceiro
       3        9

## Modificando um Vetor

In [48]:
x = -3:2; x

[1] -3 -2 -1  0  1  2

In [49]:
x[2] = 0; x

[1] -3  0 -1  0  1  2

In [40]:
x[x < 0] = 6; x

[1] 6 0 6 0 1 2

### Função ifelse

In [50]:
x = -3:2
# retorna valor absoluto dos elementos do vetor
ifelse(x < 0, -x, x)

[1] 3 2 1 0 1 2

In [50]:
x

[1] -3  0 -1  0  1  2

In [53]:
y = 1:6; y

[1] 1 2 3 4 5 6

In [54]:
x + y

[1] -2  2  2  4  6  8

In [55]:
x - y

[1] -4 -2 -4 -4 -4 -4

In [56]:
x * y

[1] -3  0 -3  0  5 12

In [57]:
x / y

[1] -3.0000000  0.0000000 -0.3333333  0.0000000  0.2000000  0.3333333

## Matriz

Matriz (matrix) é a estrutura de dados bidimensioanla em R. 

Matriz é similar aos vetores, por;em contém uma dimensão a mais.

In [58]:
a = matrix(1:9, nrow=3, ncol=3); a

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [59]:
class(a)

[1] "matrix"

In [60]:
attributes(a)

$dim
[1] 3 3

In [63]:
dim(a)

[1] 3 3

### Criando Matrizes

Podemos criar como mostrado acima.

In [63]:
matrix(1:9, nrow=3, ncol=3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [64]:
1:9
matrix(1:9, nrow=3)

[1] 1 2 3 4 5 6 7 8 9

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [65]:
matrix(1:9, nrow=3, byrow=TRUE)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

Apesar disso, internamente, as matrizes armazenam os dados pelas colunas.

In [66]:
x = matrix(1:9, nrow = 3, dimnames = list(c("X","Y","Z"), c("A","B","C")))
x

  A B C
X 1 4 7
Y 2 5 8
Z 3 6 9

Podemos mudar os nomes das colunas e linhas com as funções ```colnames()``` e ```rownames()```.

In [67]:
colnames(x)
rownames(x)

[1] "A" "B" "C"

[1] "X" "Y" "Z"

In [68]:
colnames(x) = c("C1","C2","C3")
rownames(x) = c("R1","R2","R3")

x

   C1 C2 C3
R1 1  4  7
R2 2  5  8
R3 3  6  9

### Indexação

In [70]:
x['R1', 'C2']

[1] 4

In [71]:
x[1:3, 1:2]

   C1 C2
R1 1  4
R2 2  5
R3 3  6

In [72]:
x[c(1,2),c(2,3)]

   C2 C3
R1 4  7
R2 5  8

In [73]:
x[c(3,2),]

   C1 C2 C3
R3 3  6  9
R2 2  5  8

In [76]:
x[,]

   C1 C2 C3
R1 1  4  7
R2 2  5  8
R3 3  6  9

In [77]:
x[-1,]

   C1 C2 C3
R2 2  5  8
R3 3  6  9

In [78]:
x[c(TRUE,FALSE,TRUE),c(TRUE,TRUE,FALSE)]

   C1 C2
R1 1  4
R3 3  6

In [79]:
x[c(TRUE,FALSE),c(2,3)]

   C2 C3
R1 4  7
R3 6  9

In [80]:
x[c(TRUE, FALSE)] # reciclagem

[1] 1 3 5 7 9

No exemplo acima, a matrix é tratada como um vetor da forma ```(1,2,3,4,5,6,7,8,9)```.

In [89]:
x[x>5]    # selecia os maiores que 5

x[x%%2 == 0]    # seleciona os impares

[1] 6 7 8 9

[1] 2 4 6 8

### Modificando a Matriz

In [82]:
x = matrix(1:9, nrow=3); x

x[2, 2] = 10; x

x[x < 5] = 0; x

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 1     4   7
[2,] 2    10   8
[3,] 3     6   9

     [,1] [,2] [,3]
[1,] 0     0   7
[2,] 0    10   8
[3,] 0     6   9

In [83]:
t(x)

     [,1] [,2] [,3]
[1,] 0     0   0
[2,] 0    10   6
[3,] 7     8   9

In [84]:
cbind(c(1, 2, 3), x)

     [,1] [,2] [,3] [,4]
[1,] 1    0     0   7
[2,] 2    0    10   8
[3,] 3    0     6   9

In [86]:
cbind(x, x)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 0     0   7    0     0   7
[2,] 0    10   8    0    10   8
[3,] 0     6   9    0     6   9

In [100]:
x = x[1:2,]; x

     [,1] [,2] [,3]
[1,] 0     0   7
[2,] 0    10   8

In [102]:
x = matrix(1:6, nrow=2); x

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [104]:
dim(x) = c(3, 2); x

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

|  Operador ou Função |  Descrição | 
|:---: | :--- |
| A * B | Multiplicação elemento a elemento |
| A %*% B | Multiplicação de Matriz |
| crossprod(A,B) | Produto vetorial |
| t(A) | Trasposta |
| diag(A) | Cria uma matriz diagonal a partir da diagonal de A |
| diag(k) | Se k é um escalar, cria uma matriz identidade kxk |
| solve(A, b) | retorna o vetor x que satisfaz b = Ax |
| ginv(A)  | Matriz inversa, precisa do pacote MASS |
| rowMeans(A)  | Retorna vetor com as médias das linhas |
| rowSum(A)  | Retorna vetor com as somas das linhas |
| colMeans(A)  | Retorna vetor com as médias das colunas |
| colSum(A)  | Retorna vetor com as somas das colunas |

### Exercício

Muitas vezes quando estamos criando nossos modelos é preciso definir uma métrica para nós os avaliarmos e escolher o melhor dentre eles. Algumas vezes, nós mesmo temos de implementá-las, portanto, nesse exercício você vai ter de implementar uma extensão da métrica Erro Quadrático Médio, em inglês *Mean Squared Error (MSE)*, chamada *Root Mean Squared Logarithmic Error (RMSLE)*. 

A RMSLE é deifnida como:

$\epsilon = \sqrt{\frac{1}{n}\sum_{i=1}^{n}(\log(\hat{y}_i) - \log(y_i))^2}$

onde:

- $\epsilon$ é o valor do erro (score)
- $n$ é o total de exemplos no conjunto de dados testado
- $\hat{y}_i$ é a predição do modelo
- $y_i$ é o valor do real do imóvel (rótulo)
- $\log(x)$ é a função logarítmica de $x$

A RMSLE penaliza mais estimativas erradas para menos do que para mais.

In [5]:
y_true = 1:1000000
y_pred = y_true - rnorm(length(y_true), 0, 1)

# seu código