# Lista

Lista é uma estrutura de dados que nos permite ter dados de tipos distintos.

Lembre-se que vetor possui todos elementos do mesmo tipo e portanto é chamado de vetor atômico, já vetores tendo tipos disntios são chamados de lista.

In [1]:
x = list(2.5, TRUE, 1L)

In [2]:
typeof(x[[1]])

[1] "double"

In [3]:
typeof(x[[2]])

[1] "logical"

In [4]:
typeof(x[[3]])

[1] "integer"

In [5]:
x = list("a"=2.5,"b"=TRUE)
x$a

[1] 2.5

In [9]:
x[[2]]

[1] TRUE

In [8]:
x$b

[1] TRUE

In [7]:
typeof(x$a)

[1] "double"

In [10]:
length(x)

[1] 2

## Criando Listas

Listas podem ser criadas com a função ```list()```.

In [17]:
x = list("a" = 2.5, "b" = TRUE, "c" = 1:3); x

$a
[1] 2.5

$b
[1] TRUE

$c
[1] 1 2 3

In [19]:
typeof(x$c)

[1] "integer"

No exemplo, a, b, c são chamados de tags e facilitam a referência a componentes da lista. Todavia, são opcionais.

In [20]:
x <- list(2.5, TRUE, 1:3); x

[[1]]
[1] 2.5

[[2]]
[1] TRUE

[[3]]
[1] 1 2 3

In [24]:
typeof(x[1])

[1] "list"

In [26]:
typeof(x[[1]])

[1] "double"

In [27]:
x[1]

[[1]]
[1] 2.5

In [30]:
pessoa = list("idade"=27, "nome"="josep lima")
pessoa$idade

[1] 27

In [31]:
pessoa[c(1,2)]

$idade
[1] 27

$nome
[1] "josep lima"

In [32]:
pessoa[c("idade", "nome")]

$idade
[1] 27

$nome
[1] "josep lima"

In [33]:
pessoa[-2]

$idade
[1] 27

In [34]:
pessoa[1:2]

$idade
[1] 27

$nome
[1] "josep lima"

In [35]:
typeof(pessoa[1])

[1] "list"

In [36]:
typeof(pessoa["idade"])

[1] "list"

In [37]:
typeof(pessoa[[1]])

[1] "double"

In [38]:
typeof(pessoa[["idade"]])

[1] "double"

### Modificando a Lista

In [39]:
pessoa[["nome"]] = "José Lima"; pessoa

$idade
[1] 27

$nome
[1] "José Lima"

In [40]:
pessoa[["casado"]] = FALSE; pessoa

$idade
[1] 27

$nome
[1] "José Lima"

$casado
[1] FALSE

In [41]:
pessoa[["idade"]] = NULL; str(pessoa)

List of 2
 $ nome  : chr "José Lima"
 $ casado: logi FALSE

In [42]:
pessoa$casado = NULL; str(pessoa)

List of 1
 $ nome: chr "José Lima"

In [46]:
pessoa["nome"] = "Raphael"

In [47]:
pessoa

$nome
[1] "Raphael"