# Agrupamento

In [1]:
df = read.csv("../dados/iris-dataset.csv", header=FALSE)
colnames(df) = c("sepal_length", "sepal_width", "petal_length", "sepal_width", "species")

head(df)

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         1.4          0.2         Iris-setosa
2 4.9          3.0         1.4          0.2         Iris-setosa
3 4.7          3.2         1.3          0.2         Iris-setosa
4 4.6          3.1         1.5          0.2         Iris-setosa
5 5.0          3.6         1.4          0.2         Iris-setosa
6 5.4          3.9         1.7          0.4         Iris-setosa

In [6]:
aggregate(df$sepal_length, by=list(species=df$species), max)

  species         x
1 Iris-setosa     5.8
2 Iris-versicolor 7.0
3 Iris-virginica  7.9

In [4]:
aggregate(df$sepal_length, by=list(species=df$species), function(x) {max(x)})

  species         x
1 Iris-setosa     5.8
2 Iris-versicolor 7.0
3 Iris-virginica  7.9

In [5]:
aggregate(df$sepal_length, by=list(species=df$species), function(x) {min(x)})

  species         x
1 Iris-setosa     4.3
2 Iris-versicolor 4.9
3 Iris-virginica  4.9

In [8]:
aggregate(cbind(sepal_width, sepal_length) ~ species, df, mean)

  species         sepal_width sepal_length
1 Iris-setosa     3.418       5.006
2 Iris-versicolor 2.770       5.936
3 Iris-virginica  2.974       6.588

In [11]:
aggregate(. ~ species, df, mean)

  species         sepal_length sepal_width petal_length
1 Iris-setosa     5.006        3.418       1.464
2 Iris-versicolor 5.936        2.770       4.260
3 Iris-virginica  6.588        2.974       5.552

In [17]:
df_ex = data.frame(valores=1:5, v=5:1, g1=c("A", "B", "B", "A", "A"), g2=c("C", "D", "D", "D", "C"))
df_ex

  valores v g1 g2
1 1       5 A  C
2 2       4 B  D
3 3       3 B  D
4 4       2 A  D
5 5       1 A  C

In [19]:
aggregate(. ~ g1 + g2, df_ex, mean)

  g1 g2 valores v
1 A  C  3.0     3.0
2 A  D  4.0     2.0
3 B  D  2.5     3.5

In [10]:
aggregate(sepal_length ~ species, df, mean)

  species         sepal_length
1 Iris-setosa     5.006
2 Iris-versicolor 5.936
3 Iris-virginica  6.588

In [30]:
aggregate(cbind(sepal_length, sepal_width) ~ species, df, mean)

  species         sepal_length sepal_width
1 Iris-setosa     5.006        3.418
2 Iris-versicolor 5.936        2.770
3 Iris-virginica  6.588        2.974