# Mesclando DataFrames

| MÃ©todo | SQL Join         
| :- |:--------:
| all.x | LEFT OUTER JOIN
| all.y | RIGHT OUTER JOIN
| all | FULL OUTER JOIN
| default | INNER JOIN

|  | 
| :- |:--------:
| ![left join](../img/img_leftjoin.gif) | ![right join](../img/img_rightjoin.gif) | ![outer join](../img/img_fulljoin.gif) | ![inner join](../img/img_innerjoin.gif) |

\**imagem tirada de (https://www.w3schools.com/sql/sql_join.asp)*

In [1]:
x = data.frame("id"=1:4, "idade"= c(32, 21, 30, 27)); x
y = data.frame("id"=3:6, "gender"= c("M", "F", "F", "M")); y

  id idade
1 1  32
2 2  21
3 3  30
4 4  27

  id gender
1 3  M
2 4  F
3 5  F
4 6  M

## Inner Join

In [2]:
merge(x, y, by="id")

  id idade gender
1 3  30    M
2 4  27    F

## Left join

In [3]:
merge(x, y, by=c("id"), all.x = TRUE)

  id idade gender
1 1  32    NA
2 2  21    NA
3 3  30    M
4 4  27    F

## Right Join

In [6]:
x = data.frame("id"=1:4, "idade"= c(32, 21, 30, 27))
y = data.frame("cod"=3:6, "gender"= c("M", "F", "F", "M"))
merge(x, y, by.x="id", by.y="cod", all.y = TRUE)

  id idade gender
1 3  30    M
2 4  27    F
3 5  NA    F
4 6  NA    M

### Outer join

In [7]:
merge(x, y, by.x="id", by.y="cod", all = TRUE)

  id idade gender
1 1  32    NA
2 2  21    NA
3 3  30    M
4 4  27    F
5 5  NA    F
6 6  NA    M

In [8]:
?merge